/* Start Variables */
:root {
  --c-heading: hsl(210, 10%, 33%);
  --c-para: hsl(201, 11%, 66%);
  --c-ios-val: 171deg 66% 44%;
  --c-mac-val: 233deg 100% 69%;
  --transition-duration: 0.3s;
}
/* End Variables */
/* Start Globle Value */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Globle Value */
/* start Hero*/
.hero {
  position: relative;
}
.hero::before {
  content: "";
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-image var(--transition-duration);
}
.download-actions a {
  transition: var(--transition-duration);
}
.ios {
  background-color: hsl(var(--c-ios-val));
  box-shadow:
    0 -3px 1px 0 rgb(0 0 0 / 15%) inset,
    0 5px 12px 0px hsl(var(--c-ios-val) / 25%);
}
.mac {
  background-color: hsl(var(--c-mac-val));
  box-shadow:
    0 -3px 1px 0 rgb(0 0 0 / 15%) inset,
    0 5px 12px 0px hsl(var(--c-mac-val) / 25%);
}
.download-actions .ios:hover {
  background-color: hsl(var(--c-ios-val) / 70%);
}
.download-actions .mac:hover {
  background-color: hsl(var(--c-mac-val) / 70%);
}
@media (min-width: 769px) {
  .hero::before {
    background-image: url(../images/bg-header-desktop.png);
  }
  .download-actions {
    flex-direction: row;
    justify-content: center;
  }
  .download-actions a {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    transition: var(--transition-duration);
  }
}
/* End Hero*/
/* Start Keep Track */
@media (min-width: 769px) {
  .keep-track .content {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  .keep-track .content img {
    max-width: 50%;
    margin-bottom: 0;
  }
}
/* End Keep Track */
/* Start Supercharge */
.supercharge .features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3.125rem;
}
/* End Supercharge */
/* Start Logos*/
.logos {
  flex-direction: column;
  align-items: center;
}
@media (min-width: 769px) {
  .logos {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/* End Logos*/
/* Start Footer */
footer {
  background-color: rgb(246, 244, 244);
  position: relative;
}
footer .footer-logo {
  width: 50px;
}
footer .list li a {
  margin-bottom: 0.9375rem;
  transition: var(--transition-duration);
}
footer .list li a:hover {
  color: hsl(var(--c-ios-val));
}
footer .list:last-child a {
  margin-bottom: 3.125rem;
}
footer .social img {
  transition: var(--transition-duration);
}
footer .social img:hover {
  filter: brightness(0) saturate(100%) invert(56%) sepia(68%) saturate(486%)
    hue-rotate(122deg) brightness(97%) contrast(81%);
}
@media (min-width: 769px) {
  .footer .footer-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
  }
  footer .footer-logo {
    margin-bottom: 0;
  }
  footer .list-cont {
    display: flex;
    text-align: left;
    gap: 3.125rem;
  }
  footer .list {
    display: flex;
    gap: 0.625rem;
    flex-direction: column;
  }
  footer .list li a,
  footer .list:last-child a {
    margin-bottom: 0;
  }
  footer .list a {
    width: max-content;
  }
  .footer .left {
    display: flex;
    align-items: center;
    gap: 3.75rem;
  }
}
@media (min-width: 992px) {
  .footer .left {
    gap: 8.75rem;
  }
}
.attribution {
  font-size: 0.6875rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* End Footer */
